################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GradeBook/.vs/GradeBook/v16/Server/sqlite3
