################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GradeBook/.vs/GradeBook/v16/Server/sqlite3
/GradeBook/GradeBook XUnitTestProject/.vs/GradeBook XUnitTestProject/v16/Server/sqlite3/db.lock
